/*-----------------
* [Orange Color Stylesheet]
*
* KVN Tech - kvntechnology.com
* Theme    : KVN Teck
* Version  : 1.0
* Author   : Nel-Kevin
*/

::-webkit-scrollbar{
    width: 4px;
    color:orange;
}
::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 4px;
    width: 4px;
  }
  #breaker{
      background-color: orange;
  }
  .color{
      color: orange;
  }
  #about-content a{
      color:orange ;
  }
  .cv a button{
      background: orange;
  }
  .service-img img{
    background: orange;
    box-shadow:0px 0px 0px 0px orange ;
  }
  .service:hover .service-img img{
    box-shadow:0px 0px 0px 400px orange ;
}
.html-progress{
    background: orange;
}
.js-progress{
    background: orange;
}
.adobe-progress{
    background: orange;
}
.php-progress{
    background: orange;
}
.jquery-progress{
    background: orange;
}
.seo-progress{
    background: orange;
}
.portfolio-text h2{
    color: orange;
}
.portfolio-text button{
    color: orange;
    border: 1.5px solid orange;
}
.portfolio-text button::before{
    background: orange;
}
.portfolio-image img::before{
    background: orange;
}
.blog-date{
    background: orange;
}
form button{
    background: orange;
}
@media all and (max-width: 550px) and (min-width: 5px){
    .service:hover .service-img img{
        box-shadow:0px 0px 0px 0px #c70039 ;
    }
}