/*-----------------
* [Blue Color Stylesheet]
*
* KVN Tech - kvntechnology.com
* Theme    : KVN Teck
* Version  : 1.0
* Author   : Nel-Kevin
*/

------------------*/
::-webkit-scrollbar{
    width: 4px;
    color:darkseagreen;
}
::-webkit-scrollbar-thumb {
    background: darkseagreen; 
    border-radius: 4px;
    width: 4px;
  }
  #breaker{
      background-color: darkseagreen;
  }
  .color{
      color: darkseagreen;
  }
  #about-content a{
      color:darkseagreen ;
  }
  .cv a button{
      background: darkseagreen;
  }
  .service-img img{
    background: darkseagreen;
    box-shadow:0px 0px 0px 0px darkseagreen ;
  }
  .service:hover .service-img img{
    box-shadow:0px 0px 0px 400px darkseagreen ;
}
.html-progress{
    background: darkseagreen;
}
.js-progress{
    background: darkseagreen;
}
.adobe-progress{
    background: darkseagreen;
}
.php-progress{
    background: darkseagreen;
}
.jquery-progress{
    background: darkseagreen;
}
.seo-progress{
    background: darkseagreen;
}
.portfolio-text h2{
    color: darkseagreen;
}
.portfolio-text button{
    color: darkseagreen;
    border: 1.5px solid darkseagreen;
}
.portfolio-text button::before{
    background: darkseagreen;
}
.portfolio-image img::before{
    background: darkseagreen;
}
.blog-date{
    background: darkseagreen;
}
form button{
    background: darkseagreen;
}
@media all and (max-width: 550px) and (min-width: 5px){
    .service:hover .service-img img{
        box-shadow:0px 0px 0px 0px #c70039 ;
    }
}